<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <ul >
        <%for(i=0; i<livros.length; i++) {%>
            <li>
                <a>
                    <h2><%=livros[i].titulo%></h2>
                    <img width="143"
                         height="202"
                         src="https://pbs.twimg.com/profile_images/1870017268/homer.jpg"
                         alt="<%=livros[i].titulo%>"
                         title="<%=livros[i].titulo%>"/>
                    <br/>
                    <small class="buy-button">Compre</small>
                </a>
            </li>
        <%}%>

    </ul>
</body>
</html>